.Sidebar {
  background-color: var(--color-green-900) !important;
}

.SidebarNav {
  display: flex;
  flex-direction: column;

  .NavItem {
    display: flex;
    align-items: center;
    height: 2rem;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 1rem;
    &:hover {
      background-color: var(--color-green-800);
      cursor: pointer;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--color-green-200);
    height: 2rem;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 1rem;
    &:hover {
      color: var(--color-green-100);
    }
  }
}
