@import "tailwindcss";

:root {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);

  --font-montserrat: var(--font-montserrat);
  --font-cinzel: var(--font-cinzel);
}

@theme inline {
  --color-primary-50: #f2fff6;
  --color-primary-100: #ccedd6;
  --color-primary-200: #a7dbb7;
  --color-primary-300: #87cc9e;
  --color-primary-400: #68ba85;
  --color-primary-500: #4da86f;
  --color-primary-600: #37a361;
  --color-primary-700: #229951;
  --color-primary-800: #0e8a41;
  --color-primary-900: #007533;

  --background-dark: #0f0f0f;
  --foreground-dark: #ededed;

  --background-light: #ffffff;
  --foreground-light: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-montserrat); */
}
