---
import RecordingPlayer from '../components/Interactive/RecordingPlayer/RecordingPlayer';
import Layout from '../layouts/Layout.astro';
---

<Layout background="dark">
    <h1>Listen</h1>
    <RecordingPlayer client:load />
</Layout>
