.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.navbar-list li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-list li a:hover {
  color: var(--light);
}
